{% extends 'base.html' %}

{% block content %}
    <h2>Reports</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Owner</th>
                <th>Permission</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{report.type}}</td>
                <td>{{report.owner}}</td>
                <td>{{report.permission}}</td>
                <td>
                    <a href="{{report.file.url}}" class="btn btn-primary btn-sm">Download report</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}